/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
.done {
    text-decoration: line-through;
}
/* HEADER */
header {
    padding: 40px 0;
}
.logo {
    display: block;
    height: 80px;
    margin: auto;
}
/* MAIN */
.filters {
    text-align: center;
}
input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    min-width: 400px;
}
button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
.tasks {
    width: 60%;
    margin: auto;
    background-color: lightgrey;
    margin-top: 50px;
    padding: 20px;
}
.task {
    border-bottom: 1px solid grey;
    padding: 15px;
    font-size: 24px;
}
ul {
    list-style-type: none;
}
.close-task {
    float: right;
    cursor: pointer;
}
.task-text {
    cursor: pointer;
}